 <section class="hero is-primary is-bold">
   <div id="navbarMenuHeroB" class="navbar-menu">
      <div class="navbar-end">
        {{#if logged_in}}
        <a class="no-button">Log In</a>
        {{else}}
        <a class="navbar-item" href="/login">
          Log In
        </a>
        {{/if}}
        <a class="navbar-item" href="/signup">
          Sign Up
        </a>
    
      </div>
    </div>
    <div class="hero-body">
      <div class="columns">
        <div class="column is-7">
          <p class="title-1">Yummy Corner</p>
          <p class="subtitle"></p>
        </div>
        <div class="control">
          {{!-- <label class="radio">
            <input id="foodCheck" type="radio" name="foobar">
            <strong>Food</strong>
          </label>
          <label class="radio">
            <input id="drinkCheck" type="radio" name="foobar" checked>
            <strong>Drink</strong>
          </label> --}}
        </div>
        <div class="column is-5">
          <div class="field has-addons" id="topbar-search">
            <div class="control is-expanded has-icons-left">
              <input class="input is-medium is-success" id="recipe-search-2" type="text" placeholder="Type here">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
              {{!-- <form id="searchHistory"> Search History</form>
              <ul class="search-history"></ul> --}}
            </div>
            <div class="control">
              <button class="button is-medium is-success" id="search-2">Search</button>
            </div>
            <div class="result-content">
              <ul class="list-item list-group-flush list">
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>

<div id="result-content" class="result-content">
    <div class="columns is-multiline" id="card-append">

{{!-- {{#each}}
<div class="card column is-one-quarter">
        <div class="card-image">
          <figure class="image is-4by3">
          
            <img src= "{{this.image}}" alt="Recipe Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
              <p class="title is-4"></p>
            </div>
          </div>
      
          <div class="calories">
          <strong> Cuisine Type:{{this.cuisineType}}</strong>
          <br>
           <strong> Calories:{{this.calories}} </strong>
           <br>
          
           <a class="view-btn" target="_blank" href="{{this.url}}">View Recipe</a> 
          </div>
        </div>
      </div>
{{/each}} --}}
    </div>
</div>
<script src="/js/foodScript.js"></script>